@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "https://webappnewapi.azurewebsites.net/weatherforecast",
            dataType: "json",
            success: function (result) {
                console.log(result);
            },
            error: function (error) {
                console.log(error);
            }
        })
    })
</script>